<div class="container">
    <h1>Trending Searches</h1>
    <div class="button-container1">
        <button mat-stroked-button color="primary">
            <mat-icon>perm_identity</mat-icon>
            Family Friendly</button>
        <button mat-stroked-button color="primary">
            <mat-icon>perm_identity</mat-icon>
            Best in Snow</button>
        <button mat-stroked-button color="primary">
            <mat-icon>perm_identity</mat-icon>
            Reliable & Affordable</button>
        <button mat-stroked-button color="primary">
            <mat-icon>perm_identity</mat-icon>
            Small & Sporty</button>
    </div>

    <div class="button-container2">
        <button mat-stroked-button color="primary">
            <mat-icon>perm_identity</mat-icon>
            Affordable Luxury</button>
        <button mat-stroked-button color="primary">
            <mat-icon>perm_identity</mat-icon>
            Adventure & OffRoad</button>
        <button mat-stroked-button color="primary">
            <mat-icon>perm_identity</mat-icon>
            For Sale by Owner</button>
        <button mat-stroked-button color="primary">
            <mat-icon>perm_identity</mat-icon>
            Fuel Efficient</button>
    </div>

</div>

<div class="container">
    <h1>Recent Test Drives</h1>
  <section class="product">
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main">
          <div class="item">
            <div class="text">1</div>
          </div>
          <div class="item">
            <div class="text">2</div>
          </div>
          <div class="item">
            <div class="text">3</div>
          </div>
          <div class="item">
            <div class="text">4</div>
          </div>
          <div class="item">
            <div class="text">5</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

